.latest-tweets {
    display: flex;
    .latest-tweets-item {
        img {
            border-radius: 100%;
        }
        text-align: center;
        padding: 2rem;

        &-user {
            font-size: 20px;
            font-weight: bold;
        }
        &-screen {
            font-size: 15px;
            margin-bottom: 1rem;
        }
    }
    .latest-tweets-item-counts {
        padding: 0.5rem;
        a:first-child {
            padding-right: 0.5rem;
        }
    }
    .latest-tweets-item-screen {
        font-size: 0.6rem;
    }
}